<ion-view view-title="{{NOTIFICATION_TAB_NAME}}">
    <ion-content ng-class="{expanded:isExpanded}">
        <style>
            .initial-letter{
                background-color: #3F51B5;//#e65100;
                text-align: center;
                display: table;
                color: #fff;
                border: 3px solid #39489c;//#cc4b04;
                max-height: 40px;
                max-width: 40px;
                line-height: 32px;
                font-size: 1.5em;
            }
        </style>
        <div class="content has-header">
            <div class="list animate-fade-slide-in-right">
                <a href="#" class="item item-avatar item-icon-right">
                    <span class="avatar initial-letter">J</span>
                    <h2>Noti title</h2>
                    <p>Message 1</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
                <a href="#" class="item item-avatar item-icon-right">
                   <span class="avatar initial-letter">O</span>
                    <h2>Noti title</h2>
                    <p>Message 2</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
                <a href="#" class="item item-avatar item-icon-right">
                   <span class="avatar initial-letter">B</span>
                    <h2>Noti title</h2>
                    <p>Message 3</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
                <a href="#" class="item item-avatar item-icon-right">
                    <span class="avatar initial-letter">A</span>
                    <h2>Noti title</h2>
                    <p>Message 4</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
                <a href="#" class="item item-avatar item-icon-right">
                    <span class="avatar initial-letter">N</span>
                    <h2>Noti title</h2>
                    <p>Message 5</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
