<ion-view view-title="">
    <div class="search">Search Here</div>
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
        <style>
            .initial-letter{
                background-color: #e65100;
                text-align: center;
                font-size: 2.5em;
                display: table;
                vertical-align: c;
                line-height: 46px;
                color: #fff;
                border: 3px solid #cc4b04;
            }
           
        </style>
        <div class="item card-item">
            <!--            <div ui-sref="app.myads1" class="card stable-bg ink ink-dark" >-->
            <div class="card stable-bg ink ink-dark" >
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar initial-letter">J</span>
                    <strong>Advertisement text</strong> & <strong>picture (if any)</strong> will be displayed here, on click it will take user to new view where he/she
                    can see full details about advertisement.
                    <div class="card-footer text-right">
                        <i class="icon ion-star"></i> 4
                        <i class="icon ion-heart assertive"></i> Approved
                        <div class="pull-left">
                            <i class="icon ion-clock"></i> 1 day ago
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item card-item">
            <div class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <!--<span class="avatar" style="background-image: url('img/jon-snow.jpg');"></span>-->
                    <span class="avatar initial-letter">O</span>
                    <strong>Advertisement text</strong> & <strong>picture (if any)</strong> will be displayed here, on click it will take user to new view where he/she
                    can see full details about advertisement.
                    <div class="card-footer text-right">
                        <i class="icon ion-star assertive"></i> 4
                        <i class="icon ion-heart assertive"></i> Approved
                        <div class="pull-left">
                            <i class="icon ion-clock"></i> 12 mins ago
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item card-item">
            <div class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar initial-letter">B</span>
                    <strong>Advertisement text</strong> & <strong>picture (if any)</strong> will be displayed here, on click it will take user to new view where he/she
                    can see full details about advertisement.
                    <a class="image"><img src="img/sansa-snowcastle3.jpg"></a>
                    <div class="card-footer text-right">
                        <i class="icon ion-star assertive"></i> 2
                        <i class="icon ion-heart assertive"></i> Approved
                        <div class="pull-left">
                            <i class="icon ion-clock"></i> 3 hrs ago
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
